/* Applies to all webpages */ 
/* Index html style */
body{
    background-image: url('../images/background_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font:16pt arial, sans-serif, serif;
}
tr,td{
    padding:5pt;
}
table,tr,td{
    border: 2pt solid black; 
}
.table_1 {
    width: 800pt; 
    height: 500pt; 
    border-collapse: collapse; 
    background-color: white; 
    margin: auto; 
    padding:10pt;
    text-align:left; 
}
#tr_style1{
    height: 100pt;
}
#td_style{
    width: 150pt;
    display: none;
}
#td_1st{
    color: black;
    font-size: 16pt;  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
#tr_style2{
    height: 400pt;
}
.td_font{
    font-family:'Courier New', Courier, monospace, serif;

}
a {
    color:black;
    text-decoration: none;
}
img{
    display: none;
}
#nav_td{
    display: none;
}

/* bio page style */

.table_2{
    border-collapse: collapse; 
    background-color: rgb(178, 163, 191); 
    margin-left: auto; 
    margin-right: auto;
    height: 200pt;
    
}

/* resume */

.table_3{
    width: 700pt;
    border-collapse: collapse; 
    background-color: white; 
    margin-left: auto; 
    margin-right: auto;
    height: 200pt;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif, serif;
}
ol{
    list-style-type:upper-roman;
}

/* Schedule html page style */

.table_4{
    width: 800pt;
    border-collapse: collapse; 
    background-color: rgb(119, 94, 138);
    margin-left: auto; 
    margin-right: auto;
    height: 200pt;
    color:darksalmon;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#class_1{
    background-color:rgb(195, 189, 228);
    color:rgb(119, 94, 138);;
    text-align: center;
}
#class_2{
    background-color:thistle;
    color: rgb(119, 94, 138);;
    text-align: center;
}
#lunch{
    background-color: rgb(223, 173, 223);
    color: rgb(119, 94, 138);
    text-align: center;
}
/* Navigation style */
nav ul{
    list-style-type: none;
    padding: 5pt;
    margin: auto;
    display: none;
    
} 
nav li a{
    display: none;
    color:lavender;
    background-color: rgb(158, 147, 223); 
    text-decoration: none; 
    padding: 5pt;
}
nav li{
    background-color: rgb(158, 147, 223); 
    text-align: center;
    border: 1pt solid rgb(100, 69, 122);
    border-collapse: collapse;
    display: none;
    
}
nav a:hover{
    padding: 5pt;
    background-color: rgb(119, 94, 138);
    color:rgb(195, 189, 228);
    display: none;
}
