/* Applies to all webpages */ 
/* Index html style */
body{
    background-image: url('../images/purple_gradient_10w_1000h.jpg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font:16px arial, sans-serif;
    
}
tr,td{
    padding:5px;
}
table,tr,td{
    border: 2px solid black; 
}

.table_1 {
    width: 800px; 
    height: 500px; 
    border-collapse: collapse; 
    background-color: lavender; 
    margin: auto; 
    padding:10px;
    text-align:left; 
}

#tr_style1{
    height: 100px;
}
#td_style{
    width: 150px;
}
#td_1st{
    color: palevioletred;
    font-size: 16px;  
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#tr_style2{
    height: 400px;
}
.td_font{
    font-family:'Courier New', Courier, monospace;

}
a {
    color:rgb(158, 147, 223);
}


/* bio page style */

.table_2{
    border-collapse: collapse; 
    background-color: rgb(178, 163, 191); 
    margin-left: auto; 
    margin-right: auto;
    height: 200px;
    
}

/* resume */

.table_3{
    width: 700px;
    border-collapse: collapse; 
    background-color: thistle; 
    margin-left: auto; 
    margin-right: auto;
    height: 200px;
    color:rgb(100, 69, 122);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ol{
    list-style-type:upper-roman;
}

/* Schedule html page style */

.table_4{
    width: 800px;
    border-collapse: collapse; 
    background-color: rgb(119, 94, 138);
    margin-left: auto; 
    margin-right: auto;
    height: 200px;
    color:darksalmon;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#class_1{
    background-color:rgb(195, 189, 228);
    color:rgb(119, 94, 138);;
    text-align: center;
}
#class_2{
    background-color:thistle;
    color: rgb(119, 94, 138);;
    text-align: center;
}
#lunch{
    background-color: rgb(223, 173, 223);
    color: rgb(119, 94, 138);
    text-align: center;
}
/* Navigation style */
nav{
    position: static;
}
nav ul{
    list-style-type: none;
    padding: 5px;
    margin: auto;
    
} 
nav li a{
    display: block;
    color:lavender;
    background-color: rgb(158, 147, 223); 
    text-decoration: none; 
    padding: 5px;
}
nav li{
    background-color: rgb(158, 147, 223); 
    text-align: center;
    border: 1px solid rgb(100, 69, 122);
    border-collapse: collapse;
    
}
nav a:hover{
    padding: 5px;
    background-color: rgb(119, 94, 138);
    color:rgb(195, 189, 228)
}

/*Absolute Position*/
div#logo{
    position: absolute;
    top: 15px;
    left: 165px;
    padding: 10px;
    margin:auto;
    border:  1px solid whitesmoke ;
    background-color: lavender;
    width: 5px;

}
div#logo img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    border:  2px solid whitesmoke ;
}
div#banner{
    position: absolute;
    top:15px;
    left: 320px;
    width: 1000px;
    height: 115px;
    padding: 10px;
    margin:auto;
    border:  1px solid whitesmoke ;
    background-color: lavender;
    
}
div#banner h1{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
div#navigation{
    position: absolute;
    top: 153px;
    bottom: 206px;
    left: 165px;
    width: 133px;
    padding: 10px;
    border:  1px solid whitesmoke ;
    background-color: lavender;
    z-index: 1;
}
div#navigation nav{
    margin-top: 50px;
}
div#content{
    position: absolute;
    top: 152px;
    left:320px;
    padding: 10px;
    width: 1000px;
    border:  1px solid whitesmoke ;
    background-color: lavender;

}
div#content p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 220px;
    padding: 5px;
    text-align: left;
    font-size: 14px;
}
div#content .my_bio_img{
    float:left;
    margin:0 15px 0 15px;

}
/*Fixed Position*/
div#logo1{
    position: fixed;
    top: 15px;
    left: 165px;
    padding: 10px;
    margin:auto;
    border:  1px solid whitesmoke ;
    background-color: lavender;
    width: 5px;

}
div#logo1 img{
    position: fixed;
    left: 166px;
    top: 16px;
    z-index: 1;
    border:  2px solid whitesmoke ;
}
div#banner1{
    position: fixed;
    top:15px;
    left: 320px;
    width: 1000px;
    height: 115px;
    padding: 10px;
    margin:auto;
    border:  1px solid whitesmoke ;
    background-color: lavender;
    
}
div#banner1 h1{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
div#navigation1{
    position: fixed;
    top: 153px;
    bottom: 205px;
    left: 166px;
    width: 132px;
    padding: 10px;
    border:  1px solid whitesmoke ;
    background-color: lavender;
    z-index: 1;
}
div#navigation1 nav{
    margin-top: 50px;
}
div#content1{
    position: fixed;
    top: 152px;
    left:320px;
    padding: 10px;
    width: 1000px;
    border:  1px solid whitesmoke ;
    background-color: lavender;

}
div#content1 p{
    margin-top: 20px;
    margin-bottom: 38px;
    margin-left: 220px;
    padding: 5px;
    text-align: left;
    font-size: 14px;
}

div#content1 .my_bio_img_{
    float:left;
    margin:0 15px 0 15px;

}
#body_style{
    padding-bottom: 1000px;
    width: 10px;
    height: 1000px;
}
/* HTML form */
div#content2 {
    position: absolute;
    top: 152px;
    left:320px;
    padding: 10px;
    width: 1000px;
    border:  1px solid whitesmoke ;
    background-color: lavender;
}
div#content2 p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 180px;
    padding: 6px;
    text-align: left;
    font-size: 14px;
    font-family:'Courier New', Courier, monospace;
}
div#content2 legend{
    font-family:'Courier New', Courier, monospace;
    color:rgb(100, 69, 122);
}
div#content2 fieldset{
    border: 2px solid rgb(100, 69, 122);
}
div#navigation2{
    position: absolute;
    top: 153px;
    bottom: 206px;
    left: 165px;
    width: 133px;
    padding: 10px;
    border:  1px solid whitesmoke ;
    background-color: lavender;
    z-index: 1;
}
div#navigation2 nav{
    margin-top: 35px;
}
/* simple html validated form*/
div#navigation4{
    position: absolute;
    top: 153px;
    bottom: 151px;
    left: 165px;
    width: 133px;
    padding: 10px;
    border:  1px solid whitesmoke ;
    background-color: lavender;
    z-index: 1;
}
div#navigation4 nav{
    margin-top: 35px;
}
